#product-1 {
    background-image: url(img/work/saeco/new-design.png);
    height: 28vw;
    background-size: cover;
}



.saeco-link {
    font-weight: 600;
    color: #634AE8;
}

#bold-font {
    font-weight: 800;
}

#saeco-design-1 {
    background-image: url(img/work/saeco/cover.png);
    height: 44vw;
    background-size: cover;
}

#myT-objective-0 {
    background-image: url(img/work/myTsearch/Objective.png);
    height: 32vw;
    background-size: cover;
}

#product-0 {
    background-image: url(img/work/saeco/old-design.png);
    height: 32vw;
    background-size: cover;
}

#saeco-process-1 {
    background-image: url(img/work/saeco/process.png);
    height: 20vw;
    background-color: white;
}

#saeco-finding-1 {
    background-image: url(img/work/saeco/tep.gif);
    background-color: white;
}

#saeco-finding-2 {
    background-image: url(img/work/saeco/pf.gif);
    background-color: white;
}

#saeco-finding-3 {
    background-image: url(img/work/saeco/maintenance.gif);
    background-color: white;
}



#saeco-leds-1 {
    background-image: url(img/work/saeco/leds.png);
    background-color: white;
}

#saeco-main-00 {
    background-image: url(img/work/saeco/main-00.png);
    background-size: cover;
}

#pros-1{
    background-image: url(img/work/saeco/pros1.png);
    height: 16vw;
    background-size: cover;
    margin-bottom: 2vw;
}
#pros-2{
    background-image: url(img/work/saeco/pros2.png);
    height: 16vw;
    background-size: cover;
    margin-bottom: 2vw;
}
#pros-3{
    background-image: url(img/work/saeco/pros3.png);
    height: 16vw;
    background-size: cover;
}
#cons-1 {
    background-image: url(img/work/saeco/cons1.png);
    height: 16vw;
    background-color: white;
    margin-bottom: 2vw;
}
#cons-2 {
    background-image: url(img/work/saeco/cons2.png);
    height: 16vw;
    background-color: white;
    margin-bottom: 2vw;
}
#cons-3 {
    background-image: url(img/work/saeco/cons3.png);
    height: 16vw;
    background-size: cover;
}

#saeco-main-0 {
    background-image: url(img/work/saeco/main-0.png);
    background-size: cover;
}

#saeco-main-1 {
    background-image: url(img/work/saeco/main-1.png);
    background-size: cover;
}

#saeco-main-2 {
    background-image: url(img/work/saeco/main-2.png);
    background-size: cover;
}

#saeco-main-3 {
    background-image: url(img/work/saeco/main-3.png);
    background-size: cover;
}

#saeco-ut-1 {
    background-image: url(img/work/saeco/test-process.png);
    height: 42vw;
    background-size: cover;
}

#saeco-analysis-1 {
    background-image: url(img/work/saeco/Saeco_Info_Architecture.png);
    height: 34vw;
    background-color: white;
    margin-bottom: 2vw;
}



#first-concept-1 {
    background-image: url(img/work/saeco/first-concept2.jpg);
    background-size: cover;
}
#first-concept-2 {
    background-image: url(img/work/saeco/first-concept3.jpg);
    background-size: cover;
}
#first-concept-3 {
    background-image: url(img/work/saeco/first-concept1.jpg);
    background-size: cover;
}
#con-a-1 {
    background-image: url(img/work/saeco/con-a-1.JPG);
    background-size: cover;
    background-position: top;
}
#con-a-2 {
    background-image: url(img/work/saeco/con-a-2.JPG);
    background-size: cover;
    background-position: top;
}
#con-a-3 {
    background-image: url(img/work/saeco/con-a-3.JPG);
    background-size: cover;
    background-position: top;
}
#design-modi-1 {
    background-image: url(img/work/saeco/design_modification1.png);
    background-color: black;
}
#design-modi-2 {
    background-image: url(img/work/saeco/design_modification3.png);
    background-color: black;
}
#design-modi-3 {
    background-image: url(img/work/saeco/design_modification2.png);
    background-color: black;
}
#design-modi-4 {
    background-image: url(img/work/saeco/design_modification4.png);
    background-size: cover;
    margin-bottom: 4vw;
}

.pros {
    color: green;
}
.cons {
    color: crimson;
}

/*Mobile*/
@media screen and (min-width:0px) and (max-width: 768px) {
    #saeco-leds-1 {
        height: 50vw;
    }
    #saeco-ut-1 {
        height: 61vw;
    }
    #pros-1, #pros-2, #pros-3, #cons-1, #cons-2, #cons-3{
        height: 36vw;
    }
}